@model CarRental.Models.EngineSpecification

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CylindersCount" class="control-label"></label>
                <input asp-for="CylindersCount" class="form-control" />
                <span asp-validation-for="CylindersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelInjectionId" class="control-label"></label>
                <select asp-for="FuelInjectionId" class ="form-control" asp-items="ViewBag.FuelInjectionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CO2Blowout" class="control-label"></label>
                <input asp-for="CO2Blowout" class="form-control" />
                <span asp-validation-for="CO2Blowout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torque" class="control-label"></label>
                <input asp-for="Torque" class="form-control" />
                <span asp-validation-for="Torque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
