@model CarRental.Models.Order

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>

<hr />
@if (ViewBag.Trucks.Count > 0 || ViewBag.Trailers.Count > 0)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <input asp-for="RegistrationDate" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpirationDate" class="control-label"></label>
                    <input asp-for="ExpirationDate" class="form-control" />
                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                </div>


                <div class="form-group">
                    @if (ViewBag.Trucks.Count > 0)
                    {
                        <div class="editor-label"><b>Грузовики</b></div>
                        @foreach (Truck t in ViewBag.Trucks)
                        {
                            <input type="checkbox" name="trucks" value="@t.Id" />@(t.Brand.Name)<br />
                        }
                    }
                </div>

                <div class="form-group">
                    @if (ViewBag.Trailers.Count > 0)
                    {
                        <div class="editor-label"><b>Прицепы</b></div>
                        @foreach (Trailer t in ViewBag.Trailers)
                        {
                            <input type="checkbox" name="trailers" value="@t.Id" />@(t.LicensePlate + " Грузоподъемность: " + t.Carrying )<br />
                        }
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else 
{
     <p>В данный момент нет свободных грузовиков и прицепов! Добавление заказа невозможно!</p>
}

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
