@model CarRental.Models.Trailer

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrying" class="control-label"></label>
                <input asp-for="Carrying" class="form-control" />
                <span asp-validation-for="Carrying" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (ViewBag.Colors.Count > 0)
                {
                    <div class="editor-label"><b>Цвета</b></div>
                    @foreach (Color c in ViewBag.Colors)
                    {
                        <input type="checkbox" name="colors" value="@c.Id" />@(c.Name)<br />
                    }
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
